/* Write your CSS here */
/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.home-img {
  width: 100px;
  height: 100px;
}

.dark {
  background-color: #000000;
}
.home-heading {
  font-family: 'Roboto';
  font-size: 25px;
  color: #1e293b;
  font-weight: 800;
}
.home {
  color: #ffffff;
}
